{% extends "base.html" %}
{% load static %}
 {% block content %}

    <hr class="divider1">
    <section class="hero-intro">
        <div class="hero-intro-content">
        <h1  style="text-align: center;">Know About SCOPE INDIA</h1>
        <h2  style="text-align: center;">
        Center for Software, Networking, & Cloud Education
        </h2 >
        <h3>
        "One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far."
        </h3>
        </div>
    </section>
    <hr class="divider2">
    <section id="global-cert">
        <div class="global-cert-container" style="background: linear-gradient(45deg, #e2e2e2, #fff);">
            <h4 style="text-align: center; color: #14267c;">
                Get Globally Certified from SCOPE INDIA
            </h4>
            <ul class="cert-icons">
                <li ><img class="cert-item-icon" src="{% static 'img/microsoft.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/ibm.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/google.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/amazon.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/redhat.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/istqb.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/cisco.png' %}" alt=""></li>
                <li ><img class="cert-item-icon" src="{% static 'img/github.png' %}" alt=""></li>
            </ul>
        </div>
    </section>
    <section class="aboutus-section">
    <div class="aboutus-parent">
        <h2>SCOPE INDIA, your career partner!</h2>
        <h3>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</h3>
        <p>
            Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MicroSoft MCSE | Linux RHCE), Networking (CCNA), DevOps, Mobile App Development in Flutter, and Digital Marketing. A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!
        </p>
        <p>This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>
        <div class="star-img">
            <a href="">
                <img src="{% static 'img/5star.webp' %}" alt="">
            </a>
            <h4 style="margin-bottom: 20px;">Google 4.9 * Rated Institute</h4>
        </div>
    </div>
    </section>
    <section class="ourstory">
        <div class="ourstory-parent">
            <h2>Our Story</h2>
            <div class="blue-line"></div>
            <div class="story-main">
                <div class="story-main-left">
                    <div class="founded-info">
                        <h3>Founded in 2007</h3>
                        <p>
                        With over two decades of experience creating extensive internet systems, Suffix E Solutions is a top provider of networking and software services. By concentrating on our clients' primary needs, we provide dependable and useful solutions that are suited to their specifications. From documentation and framework design to coding, testing, and continuing maintenance, we have experience with every stage of the development lifecycle. Our knowledgeable engineers, who have 18 years of experience in a variety of fields, offer detailed direction at every stage of the development process. Our vast knowledge base enables us to provide our clients with accurate and efficient solutions.
                        </p>
                       <img class="cert-item-icon" src="{% static 'img/scope-india-iso-certified.webp' %}" alt="">
                    </div>

                    <div>
                        <h3>Evolution</h3>
                        <p>
                            SCOPE INDIA was launched in 2015 by Suffix E Solutions to address the growing demand for industry-relevant IT training under proficient working professionals. What began as a mission to bridge the gap between education and employment has grown into one of the most recognized names in tech education.
                        </p>
                    </div>
                    <div>
                        <h3>Growth</h3>
                        <p>
                            SCOPE INDIA began its journey in Trivandrum in 2015 and has steadily grown into a multi-location training powerhouse. In 2019, we expanded to Kochi to support more aspiring professionals. In 2021, the Nagercoil branch was proudly launched, and in 2023, we launched our Technopark branch - bringing our high-quality training even closer to the heart of Kerala's IT hub. Each branch reflects our commitment to making world-class IT education accessible to more people.
                        </p>
                    </div>

                    
                </div>
                <div class="story-main-right">
                    <img class="cert-item-icon" src="{% static 'img/team-animation.gif' %}" alt="">
                    <div class="blue-parent">
                        <div class="blue-shadow"></div>
                        <div class="details">
                            <div class="icon-box">
                                <div class="icon-div">
                                    <svg fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"></path>
                                        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"></path>
                                    </svg>
                                    

                                </div>
                                <div>
                                        <h4>1500+</h4>
                                        <p>Students are placed</p>
                                    </div>
                            </div>

                            <div class="icon-box">
                                <div class="icon-div">
                                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"></path>
                                    </svg>
                                    

                                </div>
                                <div>
                                        <h4>500++</h4>
                                        <p>Partner companies</p>
                                    </div>
                            </div>
                            <div class="icon-box">
                                <div class="icon-div">
                                   <svg fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"></path>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                                    </svg>
                                    

                                </div>
                                <div>
                                        <h4>100%</h4>
                                        <p>Placement Assistance</p>
                                    </div>
                            </div>

                        </div>

                    </div>
                    <div class="present-day-impact">
                        <h3>Present Day Impact</h3>
                        <p>
                            SCOPE INDIA has helped 15,000+ students build successful careers in IT. From fresh graduates to working professionals, our alumni are now placed in reputed companies across India and abroad, thanks to our dedicated placement support and industry-driven training. The team adopts all contemporary technologies from time to time, including Data Science, Artificial Intelligence, Cloud Computing, DevOps, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mission">
    <div class="parent">
        <h2>Our Mission & Vision</h2>
    </div>
    <div class="main-div">
        <div class="left-content">
            <div class="content">
                <div class="svg-div">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                    </svg>
                </div>
                <h4>Our Mission</h4>
                <p>
                    SCOPE INDIA seeks to close the knowledge gap between education and employment by offering interactive, industry-focused IT training led by proficient working professionals and aligned with the latest trends and technologies. Our objective is to provide people with the technical expertise and confidence they need to build fulfilling careers.
                </p>
                <ul>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                       Industry-aligned curriculum
                    </li>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                     Practical skill developmen
                    </li>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                      Career-focused training
                    </li>
                </ul>
            </div>
        </div>

        <div class="right-content">
            <div class="content">
                <div class="svg-div">
                   <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>                    </svg>
                </div>
                <h4>Our Vision</h4>
                <p>
                    We aspire to become the most respected and forward-thinking training organization in India and beyond by shaping the future of IT education via innovation, integrity, and strong industry ties. We intend to expand globally.
                </p>
                <ul>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                       Global recognition
                    </li>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                    Innovation leadership
                    </li>
                    <li>
                       <svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                                  <path d="M 16.707 5.293 a 1 1 0 0 1 0 1.414 l -8 8 a 1 1 0 0 1 -1.414 0 l -4 -4 a 1 1 0 0 1 1.414 -1.414 L 8 12.586 l 7.293 -7.293 a 1 1 0 0 1 1.414 0z">

                                  </path>
                                </svg>
                     Technology excellence
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}