{% extends "base.html" %}
{% load static %}
 {% block content %}
    <hr class="divider1">
    <section class="hero-intro">
        <div class="hero-intro-content">
        <h1  style="text-align: center;">Course Registration at SCOPE INDIA</h1>
        <h2  style="text-align: center;">
        Center for Software, Networking, & Cloud Education
        </h2 >
        <h3 class="reg-overview">
        "One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far."
        </h3>
        </div>
    </section>
    <section class="contactus-section">
        <div class="contact-img-div">
            <div class="contact-img-content">
                <h3>SCOPE INDIA is open 365 days a year</h3>
                <h5>Call us now if you are looking for an IT job or adding more skills to your career</h5>
            </div>
        </div>
        <div>
            <h4>SCOPE INDIA Trivandrum, Kerala</h4>
            <address>
                TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001
            </address>
            <a href="tel:+919745936073">9745936073</a>
            <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
            <a href="https://g.page/r/CXbW6SZGeJPfEAE" target="_blank">Location Route Map</a>
        </div>
        <div>
            <h4>SCOPE INDIA Technopark, Kerala</h4>
            <address>
                Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum
            </address>
            <a href="tel:+919745936073">9745936073</a>
            <a href="">info@scopeindia.org</a>
            <a href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" target="_blank">Location Route Map</a>
        </div>
         <div>
            <h4>SCOPE INDIA Kochi, Kerala</h4>
            <address>
                Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025
            </address>
            <a href="tel:+917592939481">7592939481</a>
            <a href="mailto:kochi@scopeindia.org">kochi@scopeindia.org</a>
            <a href="https://g.page/r/CWv07KhFfP7dEAE" target="_blank">Location Route Map</a>
        </div>
        <div>
            <h4>SCOPE INDIA Nagercoil 1, Tamil Nadu</h4>
            <address>
                Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001
            </address>
            <a href="tel:+918075536185">8075536185</a>
            <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
            <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank">Location Route Map</a>
        </div>
         <div>
            <h4>SCOPE INDIA Nagercoil 2, Tamil Nadu</h4>
            <address>
               Pharma Street, 5/2 Ward 28, Distillery Road, WCC Jn. Nagercoil
            </address>
            <a href="tel:+918075536185">8075536185</a>
            <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
            <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank">Location Route Map</a>
        </div>
    </section>

   
{% endblock %}