{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>ScopeIndia</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div class="header-bar">
    <img class="slogo" src="{% static 'css/images/scopeindia.webp' %}" alt="ScopeIndia Logo" />
    <img class="rating" src="{% static 'css/images/google-rating-scope-india.webp' %}" alt="ScopeIndia Text Logo" />
    <nav class="navigate">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'contact' %}">Contact</a>
      <a href="{% url 'register' %}">Registration</a>
      <a href="#">Login</a>
      <a href="#">StudentDashboard</a>
    </nav>
  </div>

  <div class="banner">SCOPE INDIA Locations & Contact Details</div>
   <hr class="divider" >
  <div class="content">
    <p> Center for Software, Networking, & Cloud Education</p>
   <p>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.
   </p>

</div>
<div class="card">
  <div class="con2">
    <h4>SCOPE INDIA Trivandrum Kerala</h4>
    <p>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</p>
    <div class="con3">
      plspsp
    </div>
    </div><br>
    <div class="con2">
    <h4>SCOPE INDIA Trivandrum Kerala</h4>
    <p>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</p>
    <br><div class="con3">
      plspsp
    </div>
    </div>
</div>