{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero-intro">
        <div class="hero-intro-content">
        <h1  style="text-align: center;">Course Registration at SCOPE INDIA</h1>
        <h2  style="text-align: center;">
        Center for Software, Networking, & Cloud Education
        </h2 >
        <h3 class="reg-overview">
        "One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far."
        </h3>
        </div>
    </section>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="reg-container">
            <div>
                <label for="first-name" class="label-block">first Name (Required)</label>
                <input class="label-block" type="text" id="first-name" name="first_name" minlength="3" required>
            </div>
             <div>
                <label for="last-name" class="label-block">last Name (Required)</label>
                <input class="label-block" type="text" id="last-name" name="last_name" minlength="3" required>
            </div>
           <div>
                <label for="dob" class="label-block">Date of Birth (required)</label>
                <input class="label-block" type="date" id="dob" name="dob" placeholder="dd-mm-yyyy" required>
            </div>
             <div>
                <label class="label-block">Gender (required)</label>
                <label for="gender1">
                    <input type="radio" id="gender1" name="gender" value="male" required>
                    Male
                </label>
                <label for="gender2">
                    <input type="radio" id="gender2" name="gender" value="female" required>
                    Female
                </label>
                <label for="gender3">
                    <input type="radio" name="gender" id="gender3" value="other" required>
                    Other
                </label>
            </div>
            <div>
                <label for="mobile" class="label-block">Mobile Number (required)</label>
                <input class="label-block" type="tel" id="mobile" name="mobile" placeholder required>
            </div>
            <div>
                <label for="Email" class="label-block">Email (required)</label>
                <input class="label-block" type="email" id="Email" name="email" placeholder required>
            </div>
            
        <div>
  <label for="country" class="label-block">Country</label>
  <select id="country" name="country" class="label-block" required>
    <option value="">Loading countries...</option>
  </select>
</div>
<div>
  <label for="state" class="label-block">State</label>
  <select id="state" name="state" class="label-block" required>
    <option value="" class="label-block">Loading states...</option>
  </select>
</div>
            
            <div>
  <label for="city" class="label-block">City</label>
  <select id="city" name="city" class="label-block" required>
    <option value="" class="label-block">select city</option>
  </select>
</div>

            <div>
    <label class="label-block">Hobbies (select one or more)</label>

    <label for="hobby1">
        <input type="checkbox" id="hobby1" name="hobbies" value="reading">
        Reading
    </label>

    <label for="hobby2">
        <input type="checkbox" id="hobby2" name="hobbies" value="sports">
        Sports
    </label>

    <label for="hobby3">
        <input type="checkbox" id="hobby3" name="hobbies" value="music">
        Music
    </label>

    <label for="hobby4">
        <input type="checkbox" id="hobby4" name="hobbies" value="travel">
        Travel
    </label>
    <label for="hobby5">
        <input type="checkbox" id="hobby5" name="hobbies" value="gaming">
        Gaming
    </label>
    
</div>
<div class="mb-3">
  <label for="avatar" class="form-label">Upload Avatar</label>
  <input id="avatar" name="avatar" type="file" accept="image/*" class="form-control">
  <img id="avatarPreview" alt="avatar preview" style="display:none; width:110px; height:110px; object-fit:cover; border-radius:8px; margin-top:10px;">
</div>

    
            <div class="submit-sec">
                <button id="submit-button">SUBMIT >></button>
            </div>
        </section>
    </form>

{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/reg.js' %}"></script>
{% endblock %}